/* TUTTE LE PAGINE PRIMA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Abhaya Libre;
  font-size: 20px;
  background-color: #ede0d4;
}

nav a {
  color: #e6ccb2;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 500;
  font-optical-sizing: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  color: #003049;
  font-size: 27px;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
}

p {
  margin-bottom: 15px;
}

footer {
  font-size: smaller;
  background-color: #fefae0;
  text-align: center;
  padding: 1.5%;
  width: 100%;

}

footer.dark a {
  text-decoration: none;
  color: black;
}



/* Navbar*/
nav.main {
 padding: 10px;
}


/* Navbar container */
.secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fefae0;
}

/* Main navigation bar styles */
nav.secondary {
  display: flex;
  gap: 10px; /* Spazio tra items navbar */
}

nav.secondary a {
  color: #003049;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}





/* TIMELINE NELLA PAGINA DELLA BIOGRAFIA*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ede0d4;     
  font-family: Abhaya Libre;
}

/* linea verticale */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* linea verticale */
.timeline::after {
  content: " ";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container intorno */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* cerchi della timeline */
.container::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #A98467;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}